<div class="ui four wide centered column">
    <form class="ui form" novalidate>
        <br />
        <br />
        <div class="ui stackable segment">
            <h2 class="ui center aligned icon header">
                <i class="circular line chart icon"></i>
                Acessar Sisacon
            </h2>
            <div class="required field">
                <label for="email">Email</label>
                <input type="email" name="email" class="ui input"/>
            </div>
            <div class="required field">
                <label for="passworld">Senha</label>
                <input type="password" name="passworld" class="ui input"/>
            </div>
            <div class="field">
                <a href="#" >Esqueceu sua senha?</a>
            </div>
            <div class="field">
                <button class="ui fluid positive button">
                    Entrar
                </button>
            </div>
        </div>
        <div class="ui centered stackable segment">
            <label class="ui centered">Novo por aqui?</label>
            <a class="ui centered" href="singup">Crie já sua conta.</a>
        </div>
    </form>
</div>