<div class="sixteen wide stackable column">
    <form class="ui form">
        <div class="ui blue tiny inverted attached stackable menu">
            <div class="item">
                <h3 class="ui tiny inverted header">
                    <i class="users icon"></i>
                    <div class="content">
                        Clientes
                        <div class="inverted sub header">
                            Lista de Clientes Cadastrados
                        </div>
                    </div>
                </h3>
            </div>
            <a href="#/newClient" class="item">
                <i class="large edit icon"></i>
                Novo Cliente
            </a>
            <div class="right menu">
                <a class="icon item">
                    <i class="large orange help icon"></i>
                </a>
            </div>
        </div>
        <div class="ui stackable segment">

        </div>
    </form>
</div>