<div class="sixteen wide stackable column">
    <form class="ui form">
        <div class="ui blue tiny inverted attached stackable menu">
            <div class="item">
                <h3 class="ui tiny inverted header">
                    <i class="users icon"></i>
                    <div class="content">
                        Clientes
                        <div class="inverted sub header">
                            Cadastro ou Edição de Clientes
                        </div>
                    </div>
                </h3>
            </div>
            <a class="item">
                <i class="large left arrow icon"></i>
                Cancelar e Voltar
            </a>
            <a class="item">
                <i class="large checkmark icon"></i>
                Salvar
            </a>
            <div class="right menu">
                <a class="icon item">
                    <i class="large orange help icon"></i>
                </a>
            </div>
        </div>
        <br />
        <div class="ui stackable attached segment">
            <h3 class="ui dividing blue header">
                Identificação
            </h3>
        </div>
    </form>
</div>