<div class="ui sixteen wide stackable column">

	<div class="ui stackable grid">

		<div class="ten wide stackable column">

			<div class="ui fluid stackable raised segment">

				<div class="ui floating icon message">

					<i class="flag checkered icon"></i>
					<div class="content">
						<div class="header">
							Configuração Inicial
						</div>
						<p>
							Siga as etapas abaixo para deixar o BeloArt pronto para você. É simples e rápido.
						</p>
					</div>

				</div>

				<div class="ui three column grid" style="padding: 0">

					<div class="column">

						<div class="ui vertical steps">
							<div class="link active step">
								<i class="flag icon"></i>
								<div class="content">
									<div class="title">Minha Empresa</div>
									<div class="description">Crie sua Empresa</div>
								</div>
							</div>
							<div class="link step">
								<i class="users icon"></i>
								<div class="content">
									<div class="title">Clientes</div>
									<div class="description">0 Cadastrados</div>
								</div>
							</div>
							<div class="link step">
								<i class="info icon"></i>
								<div class="content">
									<div class="title">Confirm Order</div>
									<div class="description">Verify order details</div>
								</div>
							</div>
						</div>

					</div>


					<div class="column">

						<div class="ui vertical steps">
							<div class="link step">
								<i class="truck icon"></i>
								<div class="content">
									<div class="title">Shipping</div>
									<div class="description">Choose your shipping options</div>
								</div>
							</div>
							<div class="link step">
								<i class="credit card icon"></i>
								<div class="content">
									<div class="title">Billing</div>
									<div class="description">Enter billing information</div>
								</div>
							</div>
							<div class="link step">
								<i class="info icon"></i>
								<div class="content">
									<div class="title">Confirm Order</div>
									<div class="description">Verify order details</div>
								</div>
							</div>
						</div>

					</div>


					<div class="column">

						<div class="ui vertical steps">
							<div class="link step">
								<i class="truck icon"></i>
								<div class="content">
									<div class="title">Shipping</div>
									<div class="description">Choose your shipping options</div>
								</div>
							</div>
							<div class="link step">
								<i class="credit card icon"></i>
								<div class="content">
									<div class="title">Billing</div>
									<div class="description">Enter billing information</div>
								</div>
							</div>
							<div class="link step">
								<i class="info icon"></i>
								<div class="content">
									<div class="title">Confirm Order</div>
									<div class="description">Verify order details</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="ui six wide stackable column">
			<div class="ui segment">

			</div>
		</div>
	</div>

</div>