<div class="ui sixteen wide stackable column">

	<div class="ui stackable grid">

		<div class="three wide stackable column">

			<div class="ui special cards">

				<div class="ui raised card">
					<div class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
								<div class="center">
									<a class="ui primary button" href="#/company">Minha Empresa</a>
								</div>
							</div>
						</div>
						<img src="/Content/odimtech.png">
					</div>
					<div class="content">
						<div class="header">{{vm.company.companyName}}</div>
						<div class="meta">
							{{vm.company.occupationArea.description}}
						</div>
						<div class="description">
							{{vm.company.slogan}}
						</div>
					</div>
					<div class="extra content">
						<span class="right floated">Joined in 2013</span>
						<span><i class="user icon"></i>75 Friends</span>
					</div>
				</div>

				<!--<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/clientList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Clientes</div>
						<div class="description">
							Quantidade Cadastrada: 23
						</div>
					</div>
				</div>

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/clientList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Clientes</div>
						<div class="description">
							Quantidade Cadastrada: 23
						</div>
					</div>
				</div>
				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/clientList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Clientes</div>
						<div class="description">
							Quantidade Cadastrada: 23
						</div>
					</div>
				</div>
				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/clientList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Clientes</div>
						<div class="description">
							Quantidade Cadastrada: 23
						</div>
					</div>
				</div>-->
			</div>
		</div>

		<!--<div class="thirteen wide stackable column">

			<div class="ui raised cards">

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/clientList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Clientes</div>
						<div class="description">
							Quantidade Cadastrada: 23
						</div>
					</div>
				</div>

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/materialList">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Materiais</div>
						<div class="description">
							Quantidade Cadastrada: 45
						</div>
					</div>

				</div>

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Produtos</div>
						<div class="description">
							Quantidade Cadastrada: 12
						</div>
					</div>
				</div>

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Produtos</div>
						<div class="description">
							Quantidade Cadastrada: 12
						</div>
					</div>
				</div>

				<div class="ui raised blue card">
					<a class="ui blue right corner label" href="#/">
						<i class="search icon"></i>
					</a>
					<div class="content">
						<div class="header">Produtos</div>
						<div class="description">
							Quantidade Cadastrada: 12
						</div>
					</div>
				</div>

			</div>

			<div class="ui stackable raised segment">

			</div>

		</div>-->

		<div class="ten wide stackable column">

		</div>
		<div class="ui six wide stackable column">

		</div>
	</div>

</div>