<style type="text/css">
.ui.big.top.stackable.menu{
    margin-bottom: 0;
}

</style>

<div class="pusher">

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                Gerenciador de custos de fabricação, gerenciando seu pequeno negócio.
            </h1>
            <h2>
                Garanta a mensuração de custos para cada produto que gerar, sabendo o quanto realmente vale cada sua produção.
            </h2>
            <div class="ui huge primary button">Comece Agora!
                <i class="right arrow icon"></i>
            </div>
        </div>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"Acreditamos nos que amamos, e fazemos parte disso."</h3>
                    <p>
                        <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Jessica Silva</b> Analista e
                        Coordenadora chefe do beloArte
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"Só quero provar minha inteligencia"</h3>
                    <p>
                        <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Mateus S.</b> O mais chato do
                        beloArte
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- RODAPÉ DA PAGINA -->
    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Contato</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Mande uma mensagem</a>
                            <a href="#" class="item">Trabalhe conosco</a>
                            <a href="#" class="item">Sobre nós</a>
                        </div>
                    </div>

                    <div class="three wide column">
                        <h4 class="ui inverted header">Redes Sociais</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Facebook</a>
                            <a href="#" class="item">Youtube</a>
                            <a href="#" class="item">Instagram</a>
                            <a href="#" class="item">WhatsApp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>