<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SisaconConnectionString" connectionString="data source=DESKTOP-B5PIAF9;Initial Catalog=SisaconDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

    <!--<add name="SisaconConnectionString" connectionString="data source=BATTLESATION-WI;Initial Catalog=SisaconDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->

    <!--<add name="SisaconConnectionString" connectionString="Server=tcp:beloartserver.database.windows.net,1433;Initial Catalog=DB_BeloArt_Desenvolvimento;Persist Security Info=False;User ID=desenvolvimento;Password=Beloart@2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    
    
  </connectionStrings>
</configuration>